**Colab Specifics: to run commands at the VM’s terminal, prefix the line with an exclamation point (!)**

In [ ]:
print("\nDoing $ls on filesystem")
!ls -l
!pwd

In [ ]:
print("Install numpy") # Just for test, numpy is actually preinstalled inall Colab instancs
!pip install numpy

**Change the value from “apple” to “kiwi”, in the fruits list**

In [11]:
fruits = ["apple", "banana", "cherry"]

# Change the value from "apple" to "kiwi"
fruits[0] = "kiwi"

print(fruits)

['kiwi', 'banana', 'cherry']

**Use the append method to add “orange” to the fruits list:**

In [12]:
fruits.append('orange')
print(fruits)

['kiwi', 'banana', 'cherry', 'orange']

**Use the insert method to add “lemon” to the fruits list:**

In [10]:

fruits.insert(1, "lemon")
print(fruits)

['kiwi', 'lemon', 'banana', 'cherry', 'orange']

** Use the remove method to delete “banana” from the fruits list:**

In [13]:
fruits.remove('banana')
print(fruits)

['kiwi', 'cherry', 'orange']

**Print “Hello World” if a is greater than b:**

In [14]:
a = 50
b = 10
c = 20
d = 20
if a > b:
  print("Hello World")

Hello World

**Print “Yes” if a is equal to b, otherwise print “No”:**

In [15]:
if a == b:
  print("Yes")
else:
  print("No")

No

**Print “1” if a is equal to b, print “2” if a is greater than b, otherwise print “3”:**

In [16]:
if a == b:
  print("1")
elif a > b:
  print("2")
else:
  print("3")

2

**Print “Hello” if a is equal to b, and c is equal to d:**

In [21]:
if a == b and c == d:
  print("Hello")
else:
  print("None")

None

**Print “Hello” if either a is equal to b, or c is equal to d:**

In [20]:
if a == b or c == d:
  print("Hello")
else:
  print("No")

Hello

**Python Loops: Print i as long as i is less than 6:**

In [22]:
i = 0
while i < 6:
  print(i)
  i += 1

0
1
2
3
4
5

**stop the loop if i is 3:**

In [23]:
i = 0
while i < 6:
  print(i)
  i += 1
  if i == 3:
    break

0
1
2

--------------------------------------------------------------------------------